.PrivacyWapper{
    padding: 20px 50px 20px 50px;
}
.PrivacyWapper>h2{
    text-align: center;
    padding-bottom: 20px;
}
.Lists-Policies{
    list-style-type: square;
    margin-left: 20px;
}
.List-Policies-Bullets{
    font-weight: 600;
}
.Linkings{
    text-decoration: none;
    color: #ff5d91;
}
.List-Policies-Bullets-Parent{
    font-size: 18px;
    font-weight: 600;
  
    
}