.product-page{
    display: flex;
    justify-content: center;
    align-items: center;

  height: 80vh;
  margin: 10px;
}
.ImgShowing>img{
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;

    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1);
    padding: 15px;
}
.descShowing{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.ProductButtons{
    display: flex;
    justify-content: space-between;

}
.ProductButtons>button{
    padding: 10px 85px 10px 85px;
    color: white;
    background-color: rgb(253, 108, 178);
    border: 1px solid rgb(253, 108, 178);
    border-radius: 5px;

    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}
.descShowing{
    width: 550px;
}
.descShowing>h1{
    font-size: 28px;
}
.descShowing>h4{
    color: rgb(34, 34, 34);
    text-decoration: underline;
    font-size: 18px;
    font-weight: 600;
}